.auth-container {
    margin-top: 120px;
    h1 {
        text-align: center;
        margin-bottom: 8px;
    }

    p {
        /* margin-top: 2px; */
        text-align: center;
        margin-bottom: 28px;
        width: 24%;
        margin: 10px auto;
    }

    p#error-text {
        width: 100%;
        margin-top: 20px;
    }
}

.auth-form-container {
    border: 1px solid grey;
    border-radius: 6px;
    padding: 20px;
    height: fit-content;
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    input {
        margin-top: 10px;
        height: 30px;      
    }

    button {
        height: 30px;
        border-radius: 6px;
        margin-top: 10px;
        border: 1px solid grey;
        padding: 4px;
        /* &:hover {
            cursor: pointer;
            background-color: darkgray;
        } */
    }

    p {
        color: red;
        text-align: center;
        font-weight: bold;
        margin-bottom: 0;
    }
}