.admin-page-container {
    margin: 60px auto;
    border: 1px solid red;
    width: 90%;
    height: 800px;

    .admin-top-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border: 1px solid blue;


        .admin-current-locations-container {
            width: 30%;
            border: 1px solid green;

            ul {
                padding-left: 20px;

                ol {
                    padding-left: 16px;
                    margin-top: 8px;
                }
            }

            .admin-add-location {
                margin-top: 16px;
                display: flex;
                justify-content: space-between;
                input {
                    width: 80%;
                }

                border: 1px solid pink;
            }
        }

        .admin-members-container {
            border: 1px solid green;
            width: 70%;
            padding-left: 20px;

            h3 {
                /* margin-left: 20px; */
            }
        }
    }
}