.admin-page-container {
    margin: 60px auto;
    width: 90%;
    height: fit-content;
    /* border: 1px solid red; */
    padding: 0px 20px;

    #admin-page-top-h3 {
        margin: 0 0 8px 0;
    }

    .admin-top-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border: 1px solid grey;
        border-radius: 6px;
        padding: 10px 0px 10px 0px;
        
        .admin-current-locations-container {
            width: 20%;
            padding-left: 20px;
            border-right: 1px solid gray;

            h3 {
                margin-top: 10px;
            }

            ul {
                padding-left: 0px;

                ol {
                    padding-left: 0px;
                    margin-top: 8px;
                }
            }
        }

        .admin-members-container {
            width: 75%;
            padding-left: 0px;
            padding-right: 20px;
        }
    }

    .admin-modal {
        position: fixed;
        height: fit-content;
        width: 30%;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%,-50%);
        background-color: rgb(255, 255, 255);
        padding: 8px 12px;
        border: 2px solid grey;
        border-radius: 4px;

        margin-top: 16px;
        display: flex;
        flex-direction: column;

        h3 {
            text-align: center;
            margin-top: 10px;
        }

        .admin-modal-buttons {
            display: flex;
            width: 60%;
            margin: 10px auto;
            justify-content: space-between;
        }

        input {
            width: 58%;
            margin: 20px auto;
        }

        button {
            width: 40%;
        }
    }

    #targets-h3 {
        margin: 46px 0 -14px 0;
    }

    .admin-targets-spinner {
        width: fit-content;
        margin: auto;
    }

    .admin-targets-container {
        border: 1px solid grey;
        margin-top: 20px;
        border-radius: 6px;

        padding: 0px 20px 10px;

        .admin-targets-flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            /* padding: 20px; */

            .admin-targets-flex-left {
                width: 50%;
                /* padding-left: 20px; */

            }
            .admin-targets-flex-right {
                width: 50%;
                padding-left: 20px;
            }

        }

        #admin-targets-tr {
            td:nth-child(1) {
                width: 35%;
            }

            td:nth-child(2) {
                width: 35%;
            }

            td:nth-child(3) {
                text-align: center;

                button {
                    width: 60%;
                }
            }
        }
    }
}