.admin-page-container {
    margin: 60px auto;
    border: 1px solid red;
    width: 90%;
    height: 800px;

    .admin-top-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        border: 1px solid blue;


        .admin-current-locations-container {
           
            width: 30%;
            border: 1px solid green;
        }
    }
}