body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Remove the caret from non input elements */
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#awards-table td,
#awards-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#awards-table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;

  .table-actions-cell {
    text-align: center;
    width: 80px;

   

   
  }
}

#awards-table .last-cell {
  font-weight: bold;
}

#awards-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#awards-table tr:hover {
  /* background-color: #f7f7f7; */
}

#awards-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #666666;
  color: white;
}

.awards-form-table {
  input {
    width: 90%;
  }
}

.awards-form-table td {
  width: 12%
}

.awards-form-table td:nth-child(7),
td:nth-child(8) {
  width: 8%;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

button {
  border-radius: 3px;
  padding: 4px 8px;
  border: none;
  background-color: #666666;
  color: white;
  letter-spacing: 1px;
  height: 26px;

  &:hover {
    cursor: pointer;
    background-color: #aaaaaa;
  }
}

button.blue {
  background-color: rgb(0, 132, 255);

  &:hover {
    background-color: rgb(155, 218, 255);
  }
}

button.green {
  background-color: rgb(0, 194, 0);

  &:hover {
    background-color: rgb(76, 255, 106);
  }
}

button.red {
  background-color: red;

  &:hover {
    background-color: rgb(255, 135, 135);
  }
}

button:disabled {
  background-color: #666666;
  &:hover {
    background-color: #a0a0a0;
    cursor: not-allowed;
  }
}

input {
  height: 18px;
  border-radius: 6px;
  border: 1px solid grey;
  padding: 4px 6px;
}

.spinner-container {
  margin: auto;
  width: fit-content;
}