body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
   user-select: none;    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.disableCaret{
     
}

#awards-table td,
#awards-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#awards-table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;

  .table-actions-cell {
    text-align: center;
    width: 130px;

    button {
      border-radius: 3px;
      padding: 4px 8px;
      border: none;
      width: 70%;
    }

    button:hover {
      cursor: pointer;
    }

    .edit {
      background-color: rgb(69, 187, 255);
      &:hover {
        background-color: rgb(155, 218, 255);
      }
    }

    .delete {
      background-color: rgb(255, 85, 85);
      &:hover {
        background-color: rgb(255, 154, 154);
      }
    }
  }
}

#awards-table .last-cell {
  font-weight: bold;
}

#awards-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#awards-table tr:hover {
  background-color: #ddd;
}

#awards-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #666666;
  color: white;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

button {
  border-radius: 3px;
  padding: 4px 8px;
  border: none;
  background-color: #bebebe;
  /* width: 70%; */
  background-color: rgb(69, 187, 255);
      &:hover {
        background-color: rgb(155, 218, 255);
      }

}