.awards-page-container {
    width: 90%;
    margin: 20px auto;
    height: fit-content;

    h3 {
        margin: 0;
    }
}

.awards-page-title-and-button {
    display: flex;
    justify-content: space-between;
}

.awards-select-menu-container {
    /* border: 1px solid green; */
    width: 300px;
    height: 30px;
}

.awards-page-table-container {
    /* border: 1px solid blue; */
    width: 100%;
    /* TODO */
    height: fit-content; 
    margin: 20px auto;

    table {
        margin-top: 6px;
    }

    .bold-cells {
        font-weight: bold;
    }

    .cumulative-totals-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .cumulative-totals-m-a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    
}