.awards-page-container {
    width: 90%;
    margin: 20px auto;
    height: fit-content;

    h3 {
        margin: 0;
    }
}

.awards-page-title-and-button {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.awards-page-title-and-button.admin {
    h3 {
        margin-top: 0;
    }
}

.awards-page-location-select-container {
    width: 20%;
    margin: 60px auto 0;
    height: 30px;
}

.awards-select-menu-container {
    width: 20%;
    height: 30px;
    margin-top: 40px;
}

.awards-page-table-container {
    width: 100%;
    height: fit-content; 
    margin: 10px auto;

    h3 {
        
        margin: 40px 0 0;
    }

    table {
        margin-top: 6px;
    }

    .bold-cells {
        font-weight: bold;
    }

    .cumulative-totals-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .cumulative-totals-m-a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }   
}