.select-menu {
   border: 1px solid grey;
   border-radius: 4px;

   p {
    margin: 0;
    margin-top: 2px;

    i {
      margin-bottom: 2px;
    }
   }

   .placeholder-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 10px 4px 6px;
    caret-color: transparent;
   }

   &:hover {
    cursor: pointer;
   }

   .select-menu-dropdown-container {
      background-color: rgb(255, 255, 255);
      position: relative;
      display: none;
      height: fit-content;
      border: 1px solid lightgray;

      .item {
        padding: 4px;
      }

      .item:nth-child(even){
         background-color: #f2f2f2;
      }

      .item:hover {
         cursor: pointer;
         background-color: #ddd;
      }
   }

   .select-menu-dropdown-container.open {
      display: block;
      top: 10px;
   }
}