.awards-table-container {
    width: 100%;
    position: relative;

    .spinner-container {
        margin: auto;
    }
}

.awards-table-container-select-menus {
    display: flex;
    position: absolute;
    min-width: 600px;
    min-width: 650px;
    justify-content: space-between;
}

#awards-table-row-readonly {
    font-size: 18px;
    margin: 5px 0 0 20px;
}

.awards-table-select {
    width: 48%;
}

.awards-table-no-data-container {
    /* border: 1px solid red; */

    h3 {
        text-align: center;
    }
}

.users-table-locations-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
    }

    button {
        width: 30%;
    }
}

.fixer {
    display: flex;
}

.users-table-locations-dropdown-container {
    
    position: fixed;
    width: 40%;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 8px 12px;
    border: 2px solid grey;
    border-radius: 4px;

    max-height: 700px;
    overflow: auto;
    
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;

    h4 {
        margin-top: 2px;
        text-align: center;
    }

   h2 {
    text-align: center;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 40px;
   }
    
    ul {
        padding: 0;
        margin: 0;
        list-style: none;   

        li {
            padding: 0;
            margin-top: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                width: fit-content;
            }
        }
    }

    button {
        width: 100%;
        margin-top: 6px;
    }
}

.users-table-locations-dropdown-container-left {
    width: 40%;
    padding: 0px 20px 0 10px;
}


.users-table-display-locations-container {
    border-left: 1px solid gray;
    width: 60%;
    padding-left: 20px;
    /* padding-right: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 500px;


    
    h4 {
        text-align: center;
    }
    
    ul {
        li {
            &:hover {
                color: red;
                cursor: pointer;
            }
        }
    }

    #scroller {
        overflow-y: scroll;
    }

    p#all-assigned {
        font-size: 20px;
        margin-top: 0;
    }

    .checkbox-container {
        margin-left: -12px;
        height: fit-content;

        .checkbox-buttons {
            margin-top: 4px;
            margin-right: 10px;
            display: flex;
            justify-content: flex-end;
        }
    }

    .location-checkbox-item {
        border: 1px solid dimgrey;
        border-radius: 3px;
        width: 90%;
        margin: auto;

        display: flex;
        padding: 6px 8px;

        justify-content: space-between;
        align-items: center;

        input {
            width: fit-content;
        }
    }

    .location-checkbox-item:not(:nth-child(1)) {
        margin-top: 10px;
    }
}

.users-table-display-locations-buttons {
    
    display: flex;
    justify-content: space-between;

    margin-top: 20px;

    button {
        width: 45%;
    }
}

.users-table-display-locations-buttons.cancel {
    
    padding-top: 10px;
    border-top: 1px solid grey;
}

.users-table-display-locations-buttons.add-all {
    margin-top: 10px;
}

.users-table-locations-dropdown-container-no-locations-container {
    p {
        text-align: center;
        font-size: 36px;
        margin: 16px 0;
    }
}