.awards-table-container {
    width: 100%;
    position: relative;

    .spinner-container {
        margin: auto;
    }
}

.awards-table-container-select-menus {
    display: flex;
    position: absolute;
    min-width: 600px;
    min-width: 650px;
    justify-content: space-between;
}

.awards-table-select{
    width: 48%;
    /* position: absolute;  */

}

.awards-table-no-data-container {
    border: 1px solid red;
    /* width: 90%;
    margin: auto; */

    h3 {
        text-align: center;
    }
}