.dev-page-container {
    padding: 50px;
}

.dev-page-container-buttons {
    display: flex;
    width: 20%;
    flex-direction: column;
    margin-bottom: 100px;

    button {
        margin-top: 10px;
    }
}