.dev-page-container {
    padding: 50px;
}

.dev-functions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dev-awards-functions-container {
    display: flex;
    width: 30%;
    flex-direction: column;
    margin-bottom: 100px;
    border: 1px solid grey;
    padding: 20px;

    button {
        margin-top: 10px;
    }
}

.dev-admin-functions-container {

}