.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    background-color: white;
    border-bottom: 2px solid darkgray;
    padding-bottom: 10px;
    box-shadow: 0px 2px 5px darkgray;
    z-index: 1000;
}

.logo-container {
    margin-left: 20px;
    margin-top: 10px;
    width: fit-content;
    display: flex;

    h5 {
        margin-left: 5px;
    }

}

.nav-end-container {
    height: inherit;
    width: fit-content;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration: none;
        /* margin-top: 10px; */
        margin-left: 30px;
        color: rgb(61, 61, 61);

        &:hover {
            color: rgb(172, 172, 172);
            cursor: pointer;
        }
    }

    button {
        background: none;
        color: black;
    }

    .navbar-select-container {
        height: fit-content;
        margin-top: 6px;
        width: 100px;

        span {
            color: red;
        }
    }
}

.navbar-modal {
    position: fixed;
    height: fit-content;
    width: 30%;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 8px 12px;
    border: 2px solid grey;
    border-radius: 4px;

    margin-top: 16px;
    display: flex;
    flex-direction: column;

    h3 {
        text-align: center;
        margin-top: 10px;
    }

    p {
        margin-top: 2px;
        text-align: center;
    }

    .admin-modal-buttons {
        display: flex;
        width: 60%;
        margin: 10px auto;
        justify-content: space-between;
    }

    button {
        width: 40%;
    }
}