.first-awards-entry-form {
    border: 1px solid rgb(146, 146, 146);
    min-width: 600px;
    width: 30%;
    border-radius: 4px;
    padding: 16px 40px;
    margin: auto;
    display: flex;
    flex-direction: column;

    .awards-form-h3 { 
        margin-top: 10px;
    }

    label {
        margin-top: 10px;
    }

    input {
        margin-top: 2px;
    }
}

.first-awards-entry-form-button {
    margin: 16px auto;
    width: 40%;

    button {
        width: 100%;
    }
}